
.contact-card{
    display: flex;
    justify-content: center;
    
    width: max-content;
    padding: 20px;
    
    border-radius: 50px;
    background: linear-gradient(145deg, #ddddc6, #ffffeb);
    box-shadow:  20px 20px 60px #d0d0bb,
             -20px -20px 60px #fffffd;

    margin: 40px auto;
}

.contact-card > img {
    width: 10vw;
    height: 10vw;
}

@media (max-width:768px){
  .contact-card > img {
    width: 15vw;
    height: 15vw;
}
}
@-webkit-keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  @keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  .hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

