a {
  text-decoration: none;
  color: var(--clr-text);
}
a:hover{
  color: white;
}
.nav-wrapper {
  padding: 3vh 3vw;
  position: sticky; /* Makes the navbar sticky */
  top: 0;
  z-index: 5; /* Keep it above the SVG */
  box-sizing: border-box;
}
.nav-el {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding: 2vh 1.5vw;
  width: 100%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.links-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.bg-img {
  position: absolute; /* Change to absolute to position it relative to the parent container */
  top: 0; /* Start from the top */
  left: 0; /* Align to the left */
  width: 100%; /* Full width */
  z-index: 1; /* Ensure it's behind the navbar */
  overflow: hidden; /* Prevent overflow */
}
.home-link {
  margin-right: auto;
}
#sidebar-active{
  display: none;
}
.open-sidebar-button, .close-sidebar-button{
  display: none;
}

@media (max-width: 480px){
  .nav-wrapper {
    padding: 2vh 3vw;
  }
  .nav-el {
    padding: 0;
  }
  .links-container{
    flex-direction: column;
    align-items: flex-start;

    gap: 0;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background: #f5f5dc;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: 0.75s ease-out;

    border-radius: 0 10px 10px;
  }
  .home-link{
    padding: 1.5vh 5vw;
  }
  .h3-links{
    display: flex;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-button{
    display: block;
    padding: 0 5vw;
  }
  .close-sidebar-button{
    padding: 20px 30px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container{
    right: 0;
  }
  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}