a {
  text-decoration: none;
  color: var(--clr-text);
}
a:hover{
  color: white;
}
.h3-links{
  cursor: pointer;
}
.nav-wrapper {
  padding: 3vh 3vw;
  position: sticky; /* Makes the navbar sticky */
  top: 0;
  z-index: 5; /* Keep it above the SVG */
  box-sizing: border-box;
}
.nav-el {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding: 2vh 1.5vw;
  width: 100%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.links-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.bg-img {
  position: absolute; /* Change to absolute to position it relative to the parent container */
  top: 0; /* Start from the top */
  left: 0; /* Align to the left */
  width: 100%; /* Full width */
  z-index: 1; /* Ensure it's behind the navbar */
  overflow: hidden; /* Prevent overflow */
}
.home-link {
  margin-right: auto;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 5vw;
}

@media (max-width: 480px){
  .nav-wrapper {
    padding: 2vh 3vw;
  }
  .nav-el {
    padding: 0;
  }
  .home-link{
    padding: 1.5vh 5vw;
  }
  .links-container {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 55px;
    padding: 20px;

    background: #ffffffb0;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

  }
  .hamburger {
    display: block;
  }
  .links-container.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .scale-in-ver-top {
    -webkit-animation: scale-in-ver-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-ver-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

}
